@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    font-family: 'Montserrat', 'Fira Sans', sans-serif;
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

/*------------------- buttons --*/
.btn-nav-demo {
    font-size: 1rem;
    text-transform: uppercase;
    color: #000;
    background: #f9ad1d;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    max-width: max-content;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.btn-nav-demo:hover {
    color: #fff;
    background: #aa0047;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    max-width: max-content;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.btn-nav-login {
    color: #fff;
    padding: 0.5rem;
    background: #000;
    border-radius: 20px;
    max-width: max-content;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.btn-nav-login:hover {
    text-transform: uppercase;
    color: #fff;
    background: #aa0047;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    max-width: max-content;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.btn-large {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #aa0047;
    padding: 0.8rem;
    border: none;
    border-radius: 50px;
    max-width: max-content;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.btn-large:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer; 
}

.btn-small {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #aa0047;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    max-width: max-content;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.btn-small:hover {
    background-color: #f9ad1d;
    color: #000;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer; 
}

/*------------------- header section --*/

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    width: 100%;
    height: 100%;
}

.hamburger-icon {
    background: transparent;
    border: 0;
    font-size: 2.5rem;
    display: none;
}

.hamburger-icon:hover {
    color: #aa0047;
}

.navbar ul {
    list-style: none;
    justify-content: center;
    padding-top: 1rem;
}

.navbar ul li {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 1rem;
}

.navbar ul li a {
    display: inline-block;
    align-items: flex-end;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    color: #000;
}

.navbar ul li a:hover{
    color: #aa0047;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer; 
}

/*------------------- media queries --*/

@media screen and (max-width: 1140px) {
    .navbar-ul {
        display: none;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
    }

    .navbar-ul.show {
        display: flex;
    }

    .navbar-ul li {
        font-size: 1.2rem;
        padding: 1rem 0.5rem;
    } 

    .navbar-ul a {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 80%;
    }

    .hamburger-icon {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        order: 2;
    }

    .btn-nav-login {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        justify-content: center;
        order: 1;
    }    
} 

@media screen and (max-width: 490px) {
    .btn-nav-login {
        display: none;
    }
}

/*------------------- hero section, created using Vectary Studio 2020, with responsive iframe --*/ 

.hero-interactive {
    position: relative;
    padding-top: 0; 
    padding-bottom: 56.25%;
    overflow: hidden; 
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background-image: url("../images/neomorphic-bg.png");
}

/*------------------- about us section --*/

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.about-blurb {
    font-size: 3.125rem;
    font-family: "Fira Sans", sans-serif;
    color: #000;
    padding-top: 2.5rem;
    text-align: center;
}

.vrar-color {
    color: #aa0047;
}

.more-about {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    padding: 0.8rem;
    color: #000;
    text-align: center;
}

.divider {
    width: 60px;
    height: 5px;
    border: 0;
    background-color: #c0a321;
    text-align: center;
}

.about-container a {
    text-align: center;
    padding-top: 30px;
}

/*------------------- our services section --*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "services services services"
        "woman consulting digital-woman"
        "vrar hands tna";
    background-color: whitesmoke;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin: 2rem;
}

.services {
    grid-area: services;
    color: #000;
    font-size: 2.5rem;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 2.5rem;
}

.consulting-text {
    color: #f9ad1d;
    text-transform: uppercase;
}

.services-intro {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    color: #000;
    text-align: center; 
    margin-top: -10px;
}

.consulting {
    display: grid;
    grid-area: consulting;
    align-content: center;
    text-align: center;
    background-color: #000;
    color: white;
    margin: 1rem;
    padding: 1rem;
}

.consulting ul{
    list-style: none;
}

.tna {
    display: grid;
    grid-area: tna;
    align-content: center;
    text-align: center;
    background-color: #000;
    color: white;
    margin: 1rem;
    padding: 1rem;
}

.tna ul {
    list-style: none;
}

.woman {
    grid-area: woman;
    max-width: 100%;
}

.digital-woman {
    grid-area: digital-woman;
    max-width: 100%;
}

.hands {
    grid-area: hands;
    max-width: 100%;
}

.vrar {
    display: grid;
    grid-area: vrar;
    align-content: center;
    text-align: center;
    background-color: #000;
    color: white;
    margin: 1rem;
    padding: 1rem;
}

.vrar ul {
    list-style: none;
}

@media screen and (max-width: 1200px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-areas: 
        "services"
        "woman"
        "consulting"
        "digital-woman"
        "vrar"
        "hands"
        "tna";
        margin-bottom: 2rem;
    }

    .grid-container .woman {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .grid-container .digital-woman {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .grid-container .hands {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .consulting,
    .tna,
    .vrar {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}

@media screen and (max-width: 280px) {
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .consulting-text {
        font-size: 16px;
    }
}

/*------------------- why VR section --*/

.why-vr {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background-color: #ffd6e7;
    margin: 2rem;
    padding-top: 2rem;
}

.vrar-intro {
    flex-direction: row;
    font-size: 30px;
    font-family: "Fira Sans", sans-serif;
    color: #000;
    text-align: center;
    margin: 2rem;
}

.vrar-intro p {
    font-size: .8rem;
    margin: 1rem;
}

.vrar-numbers-intro {
    color: #aa0047;
    margin-left: 2rem;
}

.vrar-numbers {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vrar-numbers h2 {
    color: #aa0047;
}

.vrar-numbers p {
    margin-left: 1rem;
    padding-right: 0.5rem;
} 

/*------------------- why AR --*/

.why-ar {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background-color: thistle;
    margin: 2rem;
    padding-top: 2rem;
}

@media screen and (max-width: 1200px) {
    .why-ar,
    .why-vr,
    .vrar-numbers {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
}

@media screen and (max-width: 540px) {
    .why-ar,
    .why-vr,
    .vrar-numbers {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 2rem;
    }

    .vrar-intro h2 {
        font-size: 1.5rem;
    }

    .vrar-intro h3 {
        font-size: 1.25rem;
        margin-left: 1rem;
    }

    .vrar-intro p {
        font-size: 16px;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 280px) {
    .why-ar,
    .why-vr {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

    }

    .vrar-numbers {
        margin-left: 2rem;
    }

    .vrar-intro h2 {
        font-size: 25px;
        margin-left: 1rem;
    }

    .vrar-intro h3 {
        font-size: 20px;
        margin-left: 1rem;
    }

    .vrar-intro p {
        font-size: 16px;
        margin-left: 1rem;
    }
}

/*------------------- some of our work section --*/

.work-intro {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: "Fira Sans", sans-serif;
    color: #000;
    text-align: center;
    margin: 3rem;
    padding-top: 2rem;
}

.work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    background-color: #fff;
    margin: 3rem;
}

.work-card {
    width: 300px;
    height: 450px;
    border: 1px solid #aa0047;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    margin: 3rem;
}

.work-one,
.work-two,
.work-three,
.work-four {
    align-content: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.work-one h4,
.work-two h4,
.work-three h4,
.work-four h4 {
    padding-top: 1rem;
    font-weight: 700;
}

.img-one {
    background: url(../images/TNA-workshop.jpg) no-repeat;
    height: 200px; 
    background-size: 100%;
}

.img-two {
    background: url(../images/digital-twin.jpg) no-repeat;
    height: 200px;
    background-size: 100%;
}

.video {
    height: 200px;
    background-size: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 280px) {
    .work-intro,
    .work-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

/*------------------- our clients section --*/

.clients {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background-color: rgb(233, 230, 230);
    margin: 2rem;
    padding-top: 2rem;
}

.clients-intro {
    font-size: 30px;
    font-family: "Fira Sans", sans-serif;
    color: #000;
    padding-top: 50px;
    text-align: center;
}

.clients-logo {
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 1200px) {
    .clients,
    .clients-logo {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .clients,
    .clients-logo {
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
    }
}

/*------------------- testimonials section --*/

.quote {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin: 2rem; 
    padding-top: 2rem;
}

.quote-intro {
    font-size: 30px;
    font-family: "Fira Sans", sans-serif;
    color: #aa0047;
    text-align: center;
    padding-top: 1rem;
} 

.quote-mark {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    font-family: "Fira Sans", sans-serif;
    color: #aa0047;
    margin-bottom: 2rem;
}    

.testimonials-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    margin: 1rem;
}

.testimonials {
    width: 400px;
    margin: 1rem;
}

@media screen and (max-width: 1200px) {
    .clients,
    .clients-logo {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .clients,
    .clients-logo {
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
    }
}

/*------------------- signupS section --*/

.subscribe {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    background: #484747;
}

.subscribe-container {
    width: 40rem;
    margin: 2rem;
    padding: 1rem;
    background: #000;
    color: #fff;
}

.subscribe-container h3 {
    color: #f9ad1d;
}

.subscribe-container p {
    margin-bottom: 2rem;
}

.subscribe-short {
    display: flex;
    flex-direction: column;
    color:#fff;
    padding-bottom: 1rem;
}

.contact-input {
    margin-bottom: 1rem;
}

/*------------------- footer section --*/

.footer {
    background-color: #000;
    color: #fff;
  /*  width: 100%; */
    overflow: -moz-hidden-unscrollable;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}    

.footer-about p {
    font-size: 0.8rem;
    text-align: left;
    margin: 1rem;
}

.footer-logo {
    background-size: 100%;
    max-width: 100%;
    margin: 1rem;
}

.social-networks i {
    text-decoration: none;
    color: whitesmoke;
    margin: 1rem;
    justify-content: space-evenly;
}

.footer-services h3,
.footer-contact h3 {
    font-size: 1.2rem;
    margin-block-start: 0;
    text-align: left; 
    margin: 1rem;
    text-transform: uppercase;
    color: #aa0047;
}

.footer-services ul, 
.footer-contact ul {
    list-style: none;
    padding-inline-start: 0;
    font-size: 0.8rem;
    text-align: left;
    margin-left: 1rem; 
    padding-top: 1rem;
}

.footer-services li,
.footer-contact li {
    text-decoration: none;
    font-size: 0.8rem;
    text-align: left;
    padding-top: 1rem; 
}

.footer-services li {
    text-transform: uppercase;
}

.footer-services a,
.footer-contact a {
    text-decoration: none;
    color: white;
}

.footer-contact i {
    color: white; 
    padding-right: 1rem; 
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 1rem;
}

.footer-about,
.footer-services,
.footer-contact {
    width: 19rem;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 1rem; 
}    

