@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Fira Sans', sans-serif;
}

/*------------------- header nav, courtesy of @FollowAndrew YouTube tutorial and amended to include logo image and button */

.nav-container {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    display: block;
    float: left;
    max-height: 78px;
    max-width: 30%;
    margin-left: 10px;
    padding-top: 10px;
    overflow: visible;
    background-color: inherit;
}

.nav-container ul {
    margin: 0;
    padding-top: 20px;
    list-style: none;
    overflow: hidden;
}

.nav-container ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 1.5rem;
    padding-bottom: 5px;
}

#demo-btn {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #c0a321;
    border: none;
    cursor: pointer;
}

.nav-container ul a:hover {
    color: #aa0047;
    font-weight: 700;
}

.nav-container ul a #demo-btn:hover {
    background-color: #aa0047;
}

.nav-container .menu {
    clear: both;
    max-height: 0;
    transition: all 0.3s ease 0s;
}

.nav-container .menu-icon {
    padding: 10px 10px;
    margin: 10px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav-container .menu-icon .nav-icon {
    background-color: #aa0047;
    display: block;
    height: 2px;
    width: 48px;
    position: relative;
    transition: background-color 0.3s ease 0s;
}

.nav-container .menu-icon .nav-icon:before {
    background-color: #aa0047;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease 0s;
    top: 5px;
}

.nav-container .menu-icon .nav-icon:after {
    background-color: #aa0047;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease 0s;
    top: -5px;
}

.nav-container .menu-button {
    display: none;
}

.nav-container .menu-button:checked ~ .menu {
    max-height: 240px;
}

.nav-container .menu-button:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
}

.nav-container .menu-button:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.nav-container .menu-button:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

.nav-container li a {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 6px;
}

@media screen and (min-width:1366px) {

    .nav-container li {
        float: left;
    }

    .nav-container li a {
        padding: 10px 20px;
    }

    .nav-container .menu {
        clear: none; 
        float: right;
        max-height: none;
    }

    .nav-container .menu-icon {
        display: none;
    }
}

/*------------------- interactive hero */

.hero-iframe {
    position: relative;
    top: 10px;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*------------------- vr-cover blurb */

.vr-cover {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: left;

    background-image: url("assets/images/female-avatar1.jpg");
}
/*------------------- what we do grid */

.grid-container {
    display: grid;
    grid-template-columns: 45fr 45fr;
    grid-template-rows: 280px 280px;
    grid-gap: 10px;
    background-color: #C0A321;
}

.grid-item1 {
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    background-color: black;
    justify-self: center;
}
